.Purple{
    background-color: #f1ebf9;
}
.Purple2{
    background-color:#d5c4ed;
    
}.Purple3{
    background-color:#b99de2;
}.Purple4{
    background-color: #9d76d6;
}
.Purple5{
    background-color: #814fca;
}.Purple6{
    background-color: #6735b0;
}
.Purple7{
    background-color: #502989;
}.Purple8{
    background-color: #391d62;
}.Purple9{
    background-color: #22123b;
}
.Purple10{
    background-color: #0b0614;
}